/* SecretPage.css */
.page {
  text-align: center;
  background-image: url('../assets/2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding: 50px;
  font-family: 'Poppins', sans-serif;
  position: relative;
}

.page-content {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 90%; /* ปรับให้เนื้อหาดูพอดีกับหน้าจอ */
  max-width: 600px; /* กำหนดขนาดสูงสุดให้พอดีกับหน้าจอ */
  margin: 0 auto; /* จัดกลางหน้าจอ */
}

h1 {
  color: #ff4c7b;
}

p {
  color: #333;
  font-size: 1.5rem;
  margin: 20px 0;
  opacity: 0; /* เริ่มต้นให้ข้อความมองไม่เห็น */
  animation: fadeIn 3s forwards; /* สร้าง animation ค่อยๆ แสดงข้อความ */
  animation-delay: 2s; /* ค่อยๆ ปรากฏหลังจาก 2 วินาที */
}

.song-image-container {
  margin: 20px 0;
}

.song-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

/* เพิ่ม animation ให้กับข้อความ */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* ปรับปุ่มย้อนกลับ */
.back-btn {
  position: absolute;
  top: 12px;
  left: 12px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 6px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  text-decoration: none;
  transition: background 0.3s ease, transform 0.2s ease;
}

.arrow-icon {
  color: white;
  font-size: 14px;
}

.back-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
  transform: scale(1.1);
}
